body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url("https://lh5.googleusercontent.com/proxy/Dm41Zdz8s5TnQcIRSCnAXUvHItsB67S7U3DytjCwsIpG9SmJKsVkkBRCK0ODmevy_M47-2CSAxGzFaiJM3bHaPfVT90Fm6lBbNd2yueqMg=w3840-h2160-p-k-no-nd-mv");
    color: wheat;
    background-size: cover;
    box-sizing: border-box;
}

main {
    flex: 2;
}

section {
    margin: 50px auto;
}

.loader {
    align-items: center;
    /* background: rgb(23, 22, 22); */
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s linear;
    width: 100%;
    z-index: 9999;
    display: none;
    &.active {
        display: flex;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 10;
    display: none;
    &.active {
        display: block;
    }
}