#section-form-box {
    width: 60%;
}

form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background: #fffdfd;
    color: #000;
    font-size: 1.2em;
    input {
        padding: 10px 20px;
        width: 100%;
        line-height: 16px;
        box-sizing: border-box;
        border: 0;
        border-radius: 0.25rem;
        font-size: 1em;
        margin: 1.6em 0 1em 0;
        background: lightgray;
        &.error {
            background: lightcoral;
            margin: 0.5em 0 1em 0;
        }
    }
    span {
        display: none;
        font-size: 0.9em;
        font-weight: bold;
        margin: 1em 0;
        &.active {
            display: block;
        }
    }
}

.button-form {
    display: flex;
    justify-content: center;
    button {
        font-weight: 600;
        background-color: #e1353a;
        width: 30%;
        text-align: center;
        border-radius: 20px;
        padding: 15px;
        margin: 0;
        border: 0px;
        margin-top: 10px;
        color: aliceblue;
        font-size: 1em;
    }
}

#section-form-results {
    max-width: none;
    width: 90%;
    h2 {
        font-size: 1.4em;
        padding: 15px 5px;
        margin: 20px 0;
        font-weight: bold;
        color: #d8ecf1;
    }
}

#table-form-results {
    background: #fffdfd;
    color: #484b4c;
    text-align: center;
    width: 100%;
    font-size: 1em;
    table-layout: fixed;
    display: none;
    &.active {
        display: table;
    }
    thead th:nth-child(1) {
        width: 40%;
    }
    thead th {
        width: 15%;
    }
    th,
    td {
        padding: 20px;
        border: 2px solid #dee7f1;
    }
    th {
        font-weight: bold;
    }
    td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}