header {
    display: flex;
    justify-content: space-between;
    padding: 2em 0 2em 4%;
    .header__title {
        margin-top: 40px;
        font-size: 2.7em;
        font-weight: 600;
        padding: 10px;
        color: white;
    }
}

@media (max-width:901px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 1em 0 1em 0;
        .header__titlecontainer {
            margin: auto;
            .header__title {
                font-size: 2.5em;
                font-weight: 600;
            }
        }
    }
}