header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    padding: 2em 0 5em 4%;
    .title {
        margin-top: 40px;
        font-size: 3em;
        font-weight: 600;
        background: white;
        padding: 10px;
        color: black;
    }
}